<link rel="stylesheet" href="../app/assets/stylesheets.questions.css">
<h2 id="q">Question:<%= params[:question] %></h2>

<h2 id="r" ><%= @rep %></h2>
<div class="btn">
<%= link_to "return", ask_path %>

</div>
